<h3>Artists in <span class="text-primary"><%= @genre.genre.capitalize %></span></h3>

<ul>
 <% @genre.artists.order('name').each do |artist| %>
   <li><%= artist.name.titleize %></li>
 <% end %>
</ul>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
